html{
  font-family: Helvetica, sans-serif;
}
/* header section */
.header h1{
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("../images/pattern.jpeg");
}
/* product title banner section */
.title h1{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.brushes div.title{
  background-color: mediumspringgreen;
}
.frames div.title{
  background-color: lightcoral;
}
.paint div.title{
  background-color: skyblue;
}
/* product description */
.pricing{
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
